* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 1fr;
  grid-template-areas: "header main footer";
}

.container header {
  background-color: black;
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  color: grey;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "l" "i" "s" "t" "a";
}

.container header .l {
  grid-area: l;
}

.container header .i {
  grid-area: i;
}

.container header .s {
  grid-area: s;
}

.container header .t {
  grid-area: t;
}

.container header .a {
  grid-area: a;
}

.container main {
  background-color: brown;
  grid-area: main;
}

.container main .homeLayout {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container main .homeLayout li {
  flex-basis: 20%;
  padding: 10px;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  text-align: center;
}

.container main .homeLayout a {
  font-size: 25px;
  color: black;
}

.container main .button {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  grid-template-areas: "button";
}

.container main .button div {
  grid-area: button;
  background-color: black;
}

.container main form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container main form input {
  margin: 20px 0;
  padding: 20px;
  font-size: 25px;
  background-color: brown;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 10px;
}

.container main form input:last-child {
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  text-align: center;
}

.container footer {
  background-color: black;
  grid-area: footer;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  color: grey;
  text-align: center;
  font-size: 30px;
  grid-template-areas: "o" "s" "p" "i" "t" "i";
}

.container footer .o-footer {
  grid-area: o;
}

.container footer .s-footer {
  grid-area: s;
}

.container footer .p-footer {
  grid-area: p;
}

.container footer .i-footer {
  grid-area: i;
}

.container footer .t-footer {
  grid-area: t;
}

.container footer .i-footer {
  grid-area: i;
}

