* {
     margin: 0;
     padding: 0;
     list-style-type: none;
     text-decoration: none;
}

.container {
     height: 100vh;
     display: grid;
     grid-template-columns: 150px 1fr 150px;
     grid-template-rows: 1fr;
     grid-template-areas: 
          "header main footer";
     
     header {
          background-color: black;
          text-align: center;
          padding: 30px 0;
          font-size: 30px;
          color: grey;
          grid-area: header;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas: 
               "l"
               "i"
               "s"
               "t"
               "a";

          .l {
               grid-area: l;
          }

          .i {
               grid-area: i;
          }

          .s {
               grid-area: s;
          }

          .t {
               grid-area: t;
          }

          .a {
               grid-area: a;
          }

     }
          

     main {
          background-color: brown;
          grid-area: main;

          .homeLayout {
               height: 90%;
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               align-items: center;

               li {
                    flex-basis: 20%;
                    padding:10px;
                    margin: 0 20px;
                    border-radius: 10px;
                    box-shadow: 
                    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
                    text-align: center;
                    
               }

               a {
                    font-size: 25px;;
                    color: black;
               }
          }

          .button {
               height: 10vh;
               display: flex;
               justify-content: center;
               align-items: center;

               button {
                    text-align: center;
                    padding: 20px;
                    border-radius: 10px;
                    border: 0;
                    background-color: brown;
                    box-shadow: 
                    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
                    font-size: 20px;

                    a {
                         color: white;
                    }
               }
          }

          form {
               height: 100%;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;

               input {
                    margin: 20px 0;
                    padding: 20px;
                    font-size: 25px;
                    background-color: brown;
                    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
                              inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
                    border: 0;
                    border-radius: 10px;
               }

               input:last-child {
                    box-shadow: 
                    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
                    text-align: center;
               }
          }
          
     }

     footer {
          background-color: black;
          grid-area: footer;
          padding: 30px 0;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6,1fr);
          color: grey;
          text-align: center;
          font-size: 30px;
          grid-template-areas: 
               "o"
               "s"
               "p"
               "i"
               "t"
               "i";

          .o-footer {
               grid-area: o;
          }

          .s-footer {
               grid-area: s;
          }

          .p-footer {
               grid-area: p;
          }

          .i-footer {
               grid-area: i;
          }

          .t-footer {
               grid-area: t;
          }

          .i-footer {
               grid-area: i;
          }


     }
}
